@use "../../../constants/Variables.scss" as vrb;

#header {
  background-color: #232536;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.nav {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: vrb.$header-height;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__login__btn {
    font-family: "Sen";
    margin-left: 38px;
    padding: 14px 44px;
    color: vrb.$black;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    background: vrb.$white;
    border-radius: 4px;
    transition: 0.5s;
    &:hover {
      opacity: 0.8;
    }
  }

  &__link {
    color: vrb.$white;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    transition: 0.5s ease;
    &:hover {
      opacity: 0.8;
    }
  }

  &__link.active {
    color: vrb.$yellow;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }

  &__res__menu {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: vrb.$black;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    .nav__login__btn {
      margin-left: 0;
    }
  }
}

.hamburger {
  display: none;
  button {
    background-color: transparent;
    border: none;
  }
}

.nav__logo {
  font-size: 20px;
  color: #FFD050;
}

@media (max-width: 720px) {
  .nav__logo{
    margin: 0 auto;

  }

  .nav__menu {
    display: none;
  }
}

.site-logo{
  width: 60px;
}

.nav__item{
  select{
    padding: 12px;
    border-radius: 5px;
  }
}